.elementor-22927 .elementor-element.elementor-element-5419020e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --margin-top: 10px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-22927 .elementor-element.elementor-element-5419020e.e-con {
    --align-self: center;
    --flex-grow: 0;
    --flex-shrink: 1;
}

.elementor-22927 .elementor-element.elementor-element-559f043d {
    --display: flex;
    --justify-content: center;
    --margin-top: 10px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-22927 .elementor-element.elementor-element-559f043d.e-con {
    --align-self: center;
    --flex-grow: 0;
    --flex-shrink: 1;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-22927 .elementor-element.elementor-element-8b33958 {
    text-align: center;
}

.elementor-22927 .elementor-element.elementor-element-8b33958 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    color: #F95959;
}

.elementor-widget-wc-add-to-cart .elementor-button {
    background-color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-22927 .elementor-element.elementor-element-5f24ff57 .elementor-button {
    background-color: transparent;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    background-image: radial-gradient(at center center, #D21C1C 0%, #F95959 100%);
    border-style: none;
}

.elementor-22927 .elementor-element.elementor-element-5f24ff57.elementor-element {
    --align-self: center;
    --flex-grow: 0;
    --flex-shrink: 1;
}

.elementor-22927 .elementor-element.elementor-element-5f24ff57 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-22927 .elementor-element.elementor-element-5f24ff57 .elementor-button .elementor-button-content-wrapper {
    gap: 0px;
}